.root {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex: 1;
}

.top {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}