.root {
    width: 100%;
    margin: 0 auto;
}

.root>h1 {
    width: fit-content;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    max-height: 50vh;
    overflow-y: scroll;
}
.loader {
    display: flex;
    justify-content: center;
    padding: 150px 50px;
    grid-column: 2;
}

@media all and (max-width: 1270px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 760px) {
    .content {
        grid-template-columns: 1fr;
    }
}