.root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 30px;
    gap: 25px;
    height: max-content;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.title {
    padding: 0;
}

.manageButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.pictureBlock {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    align-self: center;
    background-color: #3e555f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.pictureBlock:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.picture {
    color: #fff;
    font-size: 72px !important;
}