.root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 30px;
    gap: 25px;
    height: max-content;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.title {
    padding: 0;
}

.manageButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}