.root {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.option {
    background-color: #EEE;
    height: 440px;
    width: 440px;
    border-radius: 20px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow .3s;
}

.option:hover {
    box-shadow: 0 0 5px #AAA;
}

.option > h3 {
    font-size: 30px;
}

.option > div {
    display: flex;
    flex-direction: column;
}

.option > div > label {
    padding: 10px 20px;
}

#codeInput {
    display: block;
    padding: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center;
    border: 1px solid #808080;
}

#teamNameInput {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 25px;
    border: 1px solid #808080;
}

.disabled {
    border: 1px solid #ca8c71;
    background-color: #E3A084;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 20px;
    cursor: not-allowed;
    text-align: center;
    opacity: 0.5;
}
