.root {
    background-color: #EEE;
    height: 440px;
    width: 440px;
    margin: 10px;
    border: 2px dashed #808080;
    border-radius: 50px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.root > h3 {
    font-size: 30px;
}

.root > div {
    display: flex;
    flex-direction: column;
}

.root > div > label {
    padding: 10px 20px;
}

#codeInput {
    display: block;
    padding: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center;
    border: 1px solid #808080
}

#teamNameInput {
    display: block;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 25px;
    border: 1px solid #808080
}

.disabled {
    border: 1px solid #ca8c71;
    background-color: #E3A084;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 20px;
    cursor: not-allowed;
    text-align: center;
    opacity: 0.5;
}
