@import '../../variables.css';

.container {
    width: 1600px;
    margin: auto;
    padding: 0 25px;
    box-sizing: border-box;
}

.image-container {
    position: relative;
}

.image-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image-container>img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.input-controls {
    display: flex;
    justify-content: space-between;
}

.dreamteam-member-image {
    max-width: 20vw;
    min-width: 10vw;
}

.slide-button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.slide-button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 10rem;
    z-index: -2;
}

.slide-button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--accent-color);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.slide-button:hover {
    color: #fff;
}

.slide-button:hover:before {
    width: 100%;
}

@media all and (max-width: 1600px) {
    .container {
        width: 100%;
    }
}