@import '../../variables.css';

.root {
    display: grid;
    row-gap: 5px;
    grid-auto-rows: min-content;
}

.input {
    min-width: 300px;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    border: none;
    background-color: #fff;
    transition: box-shadow .3s;
    color: #000;
}

.input:hover {
    box-shadow: 0 0 3px var(--box-shadow-color);
}

.orangeButton,
.greyButton,
.greenButton,
.redButton {
    appearance: none;
    border: none;
    padding: 15px 20px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s, box-shadow .3s;
    font-weight: bold;
}

.orangeButton {
    color: #fff;
    background-color: #E3A084;
}

.orangeButton:hover {
    background-color: #ca8c71;
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.orangeButton:active {
    background-color: #9c664f;
}

.greyButton {
    color: #000;
    background-color: #ddd;
}

.greyButton:hover {
    background-color: #cfcfcf;
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.greyButton:active {
    background-color: #aaa;
}

.greenButton {
    color: #fff;
    background-color: #3e555f;
}

.greenButton:hover {
    background-color: #2f424b;
    box-shadow: 0 0 5px #2f424b;
}

.greenButton:active {
    background-color: #23343b;
}

.redButton {
    color: #fff;
    background-color: #b53434;
}

.redButton:hover {
    background-color: #9f3838;
    box-shadow: 0 0 5px #873232;
}

.redButton:active {
    background-color: #823131;
}