.root {
    display: grid;
    row-gap: 5px;
    grid-auto-rows: min-content;
}

.input {
    min-width: 260px;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    border: none;
    color: #000;
    background-color: #fff;
}

.datepickerLabel {
    display: inline-block;
    margin-bottom: 5px;
}

.datepicker {
    width: 100%;
}

.yellowButton,
.greyButton,
.greenButton,
.redButton,
.transparentButton,
.transparentBorderButton {
    appearance: none;
    border: none;
    padding: 15px 20px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color .3s;
    font-weight: bold;
}

.yellowButton {
    color: #fff;
    background-color: var(--accent-color);
}

.yellowButton:hover {
    background-color: #a8833e;
}

.yellowButton:active {
    background-color: #755f36;
}

.greyButton {
    color: #000;
    background-color: #ddd;
}

.greyButton:hover {
    background-color: #aaa;
}

.greyButton:active {
    background-color: #777;
}

.greenButton {
    color: #fff;
    background-color: #3e555f;
}

.greenButton:hover {
    background-color: #2f424b;
}

.greenButton:active {
    background-color: #23343b;
}

.redButton {
    color: #fff;
    background-color: #b53434;
}

.redButton:hover {
    background-color: #9f3838;
}

.redButton:active {
    background-color: #823131;
}

.transparentBorderButton {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border: 2px solid;
    transition: all .3s ease-in-out;
}

.transparentBorderButton:hover {
    border-color: var(--accent-color);
}

.transparentBorderButton:active {
    border-color: var(--accent-color);
}

.transparentButton {
    color: #fff;
    background-color: transparent;
    transition: all .3s ease-in-out;
}

.transparentButton:hover {
    color: var(--accent-color);
}

.transparentButton:active {
    color: var(--accent-color);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}