.top {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.title {
    font-size: 33px;
    margin: 0 25px;
    flex: 1;
    text-align: center;
}

.groups {
    margin: 25px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.group {
    width: calc(50% - 10px);
    min-width: 700px;
    flex: 1 1;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow .3s;
}

.group:hover {
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.group>table {
    border-collapse: collapse;
    width: 100%;
    padding: 25px;
}

.group>table>caption {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.group>table th,
.group>table td {
    text-align: center;
    padding: 10px;
}

.group>table>tbody>tr {
    transition: background-color .1s, color .1s;
}

.group>table>tbody>tr:nth-child(odd) {
    background-color: #f7f7f7;
}

.group>table>tbody>tr:hover {
    background-color: #1a1d2e;
    color: #fff;
}