.root {
    margin: 25px auto;
}

.top {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 33px;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 20px;
}

.item {
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow .3s;
    background-color: #fff;
    padding: 30px;
    cursor: pointer;
}

.item:hover {
    box-shadow: 0 0 5px #aaa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>h3 {
    font-size: 30px;
}

.dates {
    font-weight: bold;
}