.top {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.title {
    font-size: 33px;
    margin: 0 25px;
    flex: 1;
    text-align: center;
}

.groups {
    margin: 25px 0;
    display: grid;
    gap: 25px;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
}

.group {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.group>table {
    border-collapse: collapse;
    width: 100%;
    padding: 25px;
}

.group>table>caption {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: #666;
    color: #fff;
}

.group>table th,
.group>table td {
    text-align: center;
    padding: 10px;
}

.group>table>tbody>tr {
    transition: background-color .1s;
}

.group>table>tbody>tr:nth-child(odd) {
    background-color: #eaeaea;
}

.group>table>tbody>tr:hover {
    background-color: #ddd;
}