.top {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 20px 0;
    color: #fff;

}

.item {
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--secondary-color);
    padding: 30px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header>h3 {
    font-size: 30px;
}

.dates {
    font-weight: bold;
}