.root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 30px;
    gap: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pictureBlock {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    align-self: center;
    background-color: #3e555f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.picture {
    color: #fff;
    font-size: 72px !important;
}

.title {
    padding: 0;
    text-align: center;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #313c41;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
}

.controls {
    display: flex;
    gap: 15px;
}

@media all and (max-width: 460px) {
    .controls {
        flex-direction: column;
    }
}