.top {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 20px;
}

.loader {
    padding: 50px;
    margin: auto;
}