@import '../../variables.css';

.root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 30px;
    row-gap: 45px;
}

.content>h3 {
    font-size: 30px;
}

.codeBlock {
    display: flex;
    align-items: center;
}

.codeBlock>span {
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
}

.codeBlock>h6 {
    padding: 0;
    font-weight: bold;
}

.footer {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}