.root {
    margin: 25px auto;
}

.top {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 25px;
    margin-top: 25px;
}

.loader {
    grid-column: 2;
    padding: 50px;
    margin: auto;
}

@media all and (max-width: 1270px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 760px) {
    .content {
        grid-template-columns: 1fr;
    }
}