.root {
    
}

.container {
}

.navigation {
    display: flex;
    justify-content: center;
    background-color: #e3a084;
}

.navigation > ul {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.navigation > ul > li {
    padding: 20px;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    font-size: 20px;
    transition: background-color .3s;
    background-color: #e9a88c;
}

.navigation > ul > li:hover {
    background-color: #f3b195;
}

.carouselContainer {
    z-index: 9999;

    overflow: hidden;
}

.carouselContainer > ul {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 15%;
    transition: transform .6s, height .3s;
}

.carouselContainer > ul > li {
    min-width: 85%;
    margin: 10px 0;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-sizing: border-box;
}
