.main-section {
	color: var(--light-color);
	overflow: hidden;
}

.main-section h2 {
	text-align: center;
}

.hero-section {
	height: 90vh;
	max-height: 900px;
	min-height: 450px;
}

.hero-section,
.dreamteam-section{
	background-color: var(--main-color);
}

.news-section {
	background-color: var(--secondary-color);
}

.hero-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}

.hero-image {
	width: 30%;
}

.hero-block-info {
	max-width: 600px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-block-info > p {
	text-align: justify;
}

.dreamteam-section {
	padding: 50px 0;
	background-color: var(--main-color);
}

.dreamteam-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.dreamteam-member-list {
	width: 300vw;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	overflow-x: hidden;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.navigation-buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navigation-button {
	background-color: transparent;
	border: none;
	margin: 30px;
	scale: 100%;
	transform: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.navigation-button > * {
	scale: 100%;
	transform: scale 0.3s ease-in-out;
}

.navigation-button > *:hover {
	scale: 120%;
	transform: scale 0.3s ease-in-out;
}

.navigation-button-visible {
	color: var(--accent-color);
}

.navigation-button-hidden {
	color: #e8ac3c89;
}

.dreamteam-member {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.dreamteam-member > p {
	text-align: center;
}

.dreamteam-member-image {
	min-width: 300px;
}

.dreamteam-member-image > img {
	min-width: 300px;
}

@media all and (max-width: 720px) {
	.main-section {
		margin-top: 10vh;
	}
}

@media all and (max-width: 1440px) {
	.hero-container {
		flex-direction: column;
		justify-content: center;
	}
	.hero-image {
		width: 50%;
	}
}

@media all and (max-width: 560px) {
	.news-post {
		width: 100%;
	}
}
