.top {
    display: grid;
    grid-template-columns: .3fr 1fr .3fr;
    align-items: center;
    justify-content: center;
}

.top>* {
    align-self: center;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 20px 0;
    color: #fff;
}

.loader {
    padding: 50px;
    margin: auto;
}

.item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--secondary-color);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow .3s;
    height: 400px;
}

.item:hover {
    box-shadow: 0 5px 15px #000;
}

.item:active {
    box-shadow: 0 5px 5px #000;
}

.pictureBlock {
    background-color: #3e555f;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.picture {
    font-size: 72px !important;
}

.itemContent {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    align-items: flex-start;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.readMore {
    color: rgb(145, 145, 145);
    transform: scale(1);
    transition: all .3s ease-in-out;
    width: fit-content
}
.readMore:hover {
    color: var(--accent-color);
    transform: scale(1.05);
}

.itemTitle {
    padding: 0;
}

.dates {
    color: var(--accent-color);
    font-weight: bold;
}

.line {
    color: #fff;
}

.address {
    display: flex;
    align-items: center;
}

.address > * {
    margin-right: 5px;
}

@media all and (max-width: 960px) {
    .item {
        flex-direction: column;
        grid-template-columns: auto;
    }
}