.picture {
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    align-self: center;
    background-color: #3e555f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    transition: all .3s ease-in-out;
}

.picture.editable {
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.picture.editable:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    transform: scale(1.05);
}

.picture.editable:hover .editImage {
    display: block !important;
}

.picture.editable:hover .placeholder {
    display: none !important;
}

.placeholder {
    color: #fff;
}

.editImage {
    display: none !important;
    color: #fff;
}