.picture {
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    align-self: center;
    background-color: #3e555f;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    transition: all .3s ease-in-out;
}

.picture:hover {
    background-color: var(--secondary-color);
}

.picture:hover .editImage {
    opacity: 1;
}

.picture:hover .placeholder {
    opacity: 0;
}

.placeholder {
    color: #fff;
    transition: all .2s ease-in-out;
}

.editImage {
    position: absolute;
    transform: translateX(-100%);
    color: white;
    opacity: 0;
    transition: all .2s ease-in-out;
}