.news-section {
	background-color: var(--secondary-color);
}

.news-list {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

@media all and (max-width: 1600px) {
	.news-list {
		flex-wrap: wrap;
	}
}
