.root {
    background-color: #5f7b88;
    height: 300px;
    display: flex;
    justify-content: center;
}

.container {
    width: 900px;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
}

.avatarBlock {
    width: 270px;
    padding: 50px;
    box-sizing: border-box;
}

.avatarBlock > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 15px #000;
}

.dataBlock {
    flex-grow: 1;
}

.dataBlock > h2 {
    font-size: 30px;
}

.controls {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0 15px;
}

.editButton {
    background-color: #3e555f;
}

.editButton:hover {
    background-color: #2f424b;
    box-shadow: 0 0 5px #2f424b;
}

.editButton:active {
    background-color: #23343b;
}
