.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 30px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}