.footer-section {
    background-color: var(--main-color);
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 10vh;
    margin: 2rem auto;
}

.footer-icon {
    height: 8vh;
}