.footer-section {
    background-color: var(--main-color);
    color: white;
    padding-top: 25px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icon {
    height: 8vh;
}

.icon-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}

#designed-by {
    font-size: 12px;
    text-align: center;
    padding: 25px 0;
}

@media all and (max-width: 960px) {
    .footer-container {
        flex-direction: column;
        row-gap: 25px;
    }
}