.top {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.title {
    font-size: 33px;
}

.content {
    display: flex;
    flex-direction: row;
    row-gap: 25px;
    column-gap: 25px;
    margin-top: 20px;
}

.image {
    display: flex;
    margin-top: 10%;
    column-gap: 5%;
}

.item {
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow .3s;
    padding: 30px;
    cursor: pointer;
    width: 20%;
}

.item:hover {
    box-shadow: 0 0 5px #aaa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>h3 {
    font-size: 30px;
}

.dates {
    font-weight: bold;
}