@import '../../variables.css';

.root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    transition: box-shadow .3s;
    background-color: #fff;
    padding: 30px;
    row-gap: 45px;
}

.root:hover {
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.content {}

.content>h3 {
    font-size: 30px;
}

.codeBlock {
    display: flex;
    align-items: center;
}

.codeBlock>span {
    margin-right: 10px;
    font-size: 20px;
}

.codeBlock>h3 {
    font-size: 20px;
}

.footer {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.button {
    appearance: none;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background-color: #ddd;
    padding: 25px 50px;
    border-radius: 10px;
    transition: background-color .3s, box-shadow .3s;
    font-weight: bold;
}

.button:hover {
    background-color: #cfcfcf;
    box-shadow: 0 0 5px var(--box-shadow-color);
}

.button:active {
    background-color: #aaa;
}