.teams-list-item-block {
    margin: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #808080;
}

.teams-list-item-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #EEE;
    border-bottom: 1px solid #808080;
}

.teams-list-item-header > h3 {
    font-size: 50px;
}

.code-block {
    display: flex;
    align-items: center;
}

.code-block > span {
    margin-right: 10px;
    font-size: 40px;
}

.code-block > h3 {
    font-size: 40px;
}

.teams-list-item-content {
    background-color: white;
}

.teams-list-item-content > p {
    padding: 20px;
    font-size: 20px;
}

.participants-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.participants-list-item {
    margin: 10px;
}

.participants-list-item > img {
    max-width: 200px;
    max-height: 200px;
}

.participants-list-item > p {
    text-align: center;
    margin-top: 10px;
    max-width: 200px;
    height: 40px;
    overflow: hidden;
}

.teams-list-item-footer {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    background-color: #EEE;
    border-top: 1px solid #808080;
}

.teams-list-item-footer > .exit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-width: 100px;
    font-size: 20px;
    cursor: pointer;
}

.teams-list-item-footer > .exit-button:hover {
    color: red;
}
