.root {
    display: flex;
    gap: 25px;
}

.root>div {
    flex: 1 1;
}

.root>h4 {
    padding: 0;
    margin: 0;
}

.teamsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.teams {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    max-height: 400px;
    width: auto;
    overflow: auto;
}

.teams>h6 {
    padding: 0;
    margin: 0;
}

.team {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 1000px) {
	.teamsContainer {
        grid-template-columns: auto;
        gap: 15px;
    }
}