.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    align-items: center;
    margin: auto;
}

#selectGroupButton {
    width: fit-content;
}

.group {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    grid-area: 2 / 1 / 3 / 3; 
}

h6 {
    margin: 0;
    padding: 0;
    transition: all .3s ease-in-out;
}

h6:hover {
    cursor: pointer;
    color: var(--accent-color);
}

Button.active {
    border-color: var(--accent-color);
}

.groups {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.matches {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all .2s ease-in-out;
}

/* Match */

.match {
    background-color: var(--secondary-color);
    padding: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.vs {
    font-size: 36px;
    color: var(--accent-color);
}

/* MatchResult */

.matchDetails {
    display: grid;
    row-gap: 15px;
    grid-auto-rows: min-content;
}