.container {
    width: 1600px;
    margin: auto;
}


.image-container {
    position: relative;
}

.image-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.image-container > img { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media all and (max-width: 1600px) {
    .container {
        width: auto;
    }
}
