.root {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    position: sticky;
    opacity: 95%;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.container {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 25px;
}

.logo>a>img {
    max-width: 75px;
    max-height: 75px;
}

.navigation {
    padding: 10px;
    display: flex;
}

.navigation>ul {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.navigation>ul>li:active::after {
    margin-top: 3px;
}

.navigation>ul>li>a {
    padding: 15px;
    color: var(--light-color);
    font-size: 20px;
    position: relative;
}

.navigation>ul>li>a::after {
    content: '';
    display: block;
    position: absolute;
    right: 16px;
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: width .2s, margin-top .2s;
}

.navigation>ul>li>a:hover::after {
    content: '';
    left: 15px;
    width: calc(100% - 30px);
}


@media all and (max-width: 720px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        visibility: visible;
        z-index: 10000;
        transition: .3s ease-in-out;
        background-color: transparent;
        position: absolute;
        top: 0;
        right: 0;
        padding: 25px;
        color: white;
        border: none;
    }

    .navigation {
        background-color: var(--main-color);
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        height: 100vh;
        width: 100vw;
        position: fixed;
    }

    .navigation>ul {
        flex-direction: column; 
        height: 100%;
        width: 90vw;
        margin: auto;
        align-items: center;
        justify-content: space-evenly;
     }

    #navClosed {
        transform: translateX(100vw);
        transition: .3s ease-in-out;

    }

    #navOpen {
        transform: translateX(0);
        transition: .3s ease-in-out;
        z-index: 9999;
    }
}