.root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    position: sticky;
    opacity: 0.95;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.container {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 25px;
    z-index: 99999;
}

.logo>a>img {
    max-width: 75px;
    max-height: 75px;
}

.navigation {
    padding: 10px;
    display: flex;
}

.navigation>ul {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.navigation>ul>li:active::after {
    margin-top: 3px;
}

.navigation>ul>li>a {
    padding: 15px;
    color: var(--light-color);
    font-size: 20px;
    position: relative;
}

.navigation>ul>li>a:global(.active)::after {
    content: '';
    display: block;
    position: absolute;
    right: 16px;
    left: 15px;
    margin-top: 5px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--accent-color);
    width: calc(100% - 30px);
}

.navigation>ul>li>a::after {
    content: '';
    display: block;
    position: absolute;
    right: 16px;
    margin-top: 5px;
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: width .2s, margin-top .2s;
}

.navigation>ul>li>a:hover::after {
    content: '';
    left: 15px;
    width: calc(100% - 30px);
}

.menu {
    display: none;
}


@media all and (max-width: 720px) {

    .container {
        justify-content: center;
    }

    .menu {
        display: block;
        position: fixed;
        background-color: transparent;
        top: 0;
        right: 0;
        padding: 25px;
        color: white;
        border: none;
        outline: none;
    }

    .navigation {
        background-color: var(--main-color);
        position: fixed;
        top: 90px;
        left: 100%;
        right: -100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        transition: .3s ease-in-out;
    }

    .navigation>ul {
        width: 100%;
        flex-direction: column;
        gap: 75px;
        overflow: auto;
        padding: 30px 0;
    }

    #navClosed {
        left: 100%;
        right: -100%;
    }

    #navOpen {
        left: 0;
        right: 0;
    }
}