.root {
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: space-evenly;
}

.block {
	max-width: 400px;
	min-width: 100px;
	border-radius: 10px;
	padding: 20px;
	display: grid;
	row-gap: 15px;
}

.block>h3 {
	text-align: center;
	padding: 20px 0;
}

.loader {
	display: flex;
	justify-content: center;
}

.divider {
	text-align: center;
	color: #fff;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
}

.divider::after,
.divider::before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
	border-left: 1px dashed #fff;
	border-right: 1px dashed #fff;
}

.divider::after {
	margin-top: 10px;
}

.divider::before {
	margin-bottom: 10px;
}

.button {
	display: none;
}

@media all and (max-width: 1000px) {
	.divider {
		display: none;
	}

	.block {
		padding: 30px;
	}

	.button {
		display: block;
	}

	.visible {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.hidden {
		display: none;
	}
}