.root {
    display: flex;
    align-items: center;
    margin: 100px auto;
    justify-content: space-evenly;
}

.block {
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    row-gap: 15px;
}

.block>h3 {
    text-align: center;
    padding: 20px 0;
}

.loader {
    display: flex;
    justify-content: center;
}

.failed {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #ffd7d7;
    color: #b60000;
}

.root>span {
    text-align: center;
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.root>span::after,
.root>span::before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    border-left: 1px dashed #fff;
    border-right: 1px dashed #fff;
}

.root>span::after {
    margin-top: 10px;
}

.root>span::before {
    margin-bottom: 10px;
}