.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: .5fr 100%;
    width: 100%;
    height: 100%;
    max-height: 300px;
    border-radius: 15px;
}

.container>h4 {
    grid-area: 1 / 1 / 2 / 3;
    margin: auto;
}

.groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap: 25px;
    background-color: var(--secondary-color);
    border-radius: 15px 0 0 15px;
    padding: 25px 0;
}

#selectable {
    margin: 0;
    padding: 0;
    transition: all .3s ease-in-out;
}

#selectable:hover {
    cursor: pointer;
    color: var(--accent-color);
}

#selectable.active {
    color: var(--accent-color);
}

.group {
    width: 100%;
    min-width: 400px;
    flex: 1 1;
    background-color: var(--secondary-color);
    overflow: auto;
    color: #fff;
    border-radius: 0 15px 15px 0;
}

.group>table {
    border-collapse: collapse;
    width: 100%;
    padding: 25px;
    transition: all .2s ease-in-out;
}

.group>table>caption {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    position: sticky;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

th {
    background-color: var(--secondary-color);
}

.group>table th,
.group>table td {
    text-align: center;
    padding: 10px;
}

.group>table>tbody>tr {
    transition: background-color .1s, color .1s;
}

.group>table>tbody>tr:nth-child(odd)>td {
    background-color: #27343a;
}

.group>table>tbody>tr:nth-child(even)>td {
    background-color: var(--secondary-color);
}

@media all and (max-width: 1280px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr min-content;
    }

    #caption {
        grid-row: 1 / 2;
        margin: auto;
    }

    .groups {
        grid-row: 2 / 3;
        flex-direction: row;
        border-radius: 15px 15px 0 0;
    }

    .group {
        grid-row: 3 / 4;
        border-radius: 0 0 15px 15px;
        min-width: auto;
    }
}