.groups {
    margin: 25px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.group {
    width: calc(50% - 10px);
    min-width: 700px;
    flex: 1 1;
    background-color: var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    color: #fff;

}

.group>table {
    border-collapse: collapse;
    width: 100%;
    padding: 25px;
}

.group>table>caption {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.group>table th,
.group>table td {
    text-align: center;
    padding: 10px;
}

.group>table>tbody>tr {
    transition: background-color .1s, color .1s;
}

.group>table>tbody>tr:nth-child(odd) {
    background-color: #313c41;
}